attrs==24.2.0
beautifulsoup4==4.13.0b2
blinker==1.8.2
bs4==0.0.1
certifi==2024.2.2
cffi==1.17.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
comtypes==1.4.6
Flask==3.0.3
gTTS==2.5.1
h11==0.14.0
idna==3.4
itsdangerous==2.2.0
Jinja2==3.1.4
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
outcome==1.3.0.post0
playsound==1.2.2
prompt-toolkit==3.0.36
pycparser==2.22
pygame==2.5.2
Pygments==2.18.0
pypiwin32==223
PySocks==1.7.1
pyttsx3==2.90
pywin32==306
questionary==2.0.1
requests==2.32.2
rich==13.7.1
selenium==4.23.1
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.5
termcolor==2.4.0
trio==0.26.2
trio-websocket==0.11.1
tureng==0.1.2
typing_extensions==4.11.0
urllib3==2.1.0
wcwidth==0.2.13
websocket-client==1.8.0
Werkzeug==3.0.3
wsproto==1.2.0
